* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}

body {
  background-color: black;
}

audio {
  display: none;
}

#game-intro {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  background-color: black;
}

#game-intro h1 {
  margin: 50px;
  font-family: "Lucida Console", Courier, monospace;
}

#game-intro img {
  margin: 50px;
  width: 30%;
}

#game-intro p {
  font-size: 22px;
  text-align: center;
  margin: 120px;
}

#game-intro button {
  margin: -80px;
  padding: 5px 15px;
  color: white;
  background-color: black;
}

#game-intro button:hover {
  background-color: rgba(97, 252, 0, 0.302);
  transition: 0.5s;
}

#game-container {
  display: none;
}

.sidebar {
  text-align: center;
  text-transform: uppercase;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.sidebar h2 {
  animation: color-change 4s infinite;
  font-family: "Press Start 2P", cursive;
  line-height: 1.5;
  color: #00ff00;
  background-color: #000;
  text-shadow: 1px 1px 0 #333;
}
@keyframes color-change {
  0% {
    color: red;
  }
  25% {
    color: rgb(3, 254, 40);
  }
  50% {
    color: blue;
  }
  75% {
    color: rgb(255, 0, 179);
  }
  100% {
    color: red;
  }
}

.sidebar p {
  padding: 10px 30px;
  border: 3px solid rgb(13, 214, 236);
  animation: color-change 4s infinite;
  font-family: "Press Start 2P", cursive;
  font-size: 16px;
  line-height: 1.5;
  background-color: #000;
  text-shadow: 1px 1px 0 #333;
}

#mute img {
  width: 30px;
  background-color: black;
}

#game-screen {
  display: none;
  width: 100%;
  height: 100vh;
  background-image: url(images/n.gif);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#game-over {
  display: none;
  width: 100%;
  height: 100vh;
  background-color: black;
}

#restart-button {
  margin: 50px;
  font-family: monospace;
  font-size: 20px;
  padding: 5px 30px;
  background-color: rgb(246, 255, 0);
  animation: color-change 4s infinite;
}
#restart-button:hover {
  background-color: rgba(255, 34, 0, 0.574);
}

#game-over img {
  width: 800px;
  animation-name: bounceIn;
  animation-duration: 5s;
}

@keyframes bounceIn {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
    opacity: 1;
  }
  40% {
    transform: translateY(-50px);
  }
  60% {
    transform: translateY(-55px);
  }
}

.spin {
  animation: rotation3d 1s linear infinite;
  transform-style: preserve-3d;
}

@keyframes rotation3d {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}
