* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}

body {
  background-color: black;
}

audio {
  display: none;
}

#game-intro {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  background-color: black;
}

#game-intro h1 {
  margin: 50px;
  font-family: "Lucida Console", Courier, monospace;
}

#game-intro img {
  margin: 50px;
  width: 30%;
}

#game-intro p {
  font-size: 22px;
  text-align: center;
  margin: 120px;
}

#game-intro button {
  margin: -80px;
  padding: 5px 5px;
  color: white;
  background-color: black;
}

#game-container {
  display: none;
}

.sidebar {
  text-align: center;
  padding: 20px;
  color: aliceblue;
}

#mute img {
  width: 30px;
  background-color: black;
}

#game-screen {
  display: none;
  width: 100%;
  height: 100vh;
  background-image: url(/images/ChatGPT\ Image\ 18\ mei\ 2025\,\ 20_55_05.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#game-over {
  display: none;
  width: 100%;
  height: 100vh;
  background-color: black;
}
